<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='site.webmanifest') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <title>Index</title>
</head>
<body>
    <h1>Index</h1>
    <h2>Welcome, {{ user.email }}</h2>

    <!-- Display characters -->
    {% if characters %}
        <h3>Your Characters</h3>
        <ul>
            {% for c in characters %}
                <li>{{ c.name }} — {{ c.race.name}} - {{ c.class_ref.name }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>You have no characters yet.</p>
    {% endif %}

    <form action="/logout" method="get">
        <button type="submit">Logout</button>
    </form>

</body>
</html>