<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='site.webmanifest') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <title>Spellbook</title>
</head>
<body>
    <h1>Spellbook</h1>

    <div id="spell-container">
        {% for level, spells in spellbook.items() %}
            {% for spell in spells %}
                <div class="spell-page">
                    <h2>{{ level.replace("_", " ").title() }}</h2>

                    <h3>{{ spell.name }}</h3>
                    <p>{{ spell.description }}</p>

                    <ul>
                        <li><strong>Casting Time:</strong> {{ spell.casting_time }}</li>
                        <li><strong>Range:</strong> {{ spell.range }}</li>
                        <li><strong>Components:</strong> {{ spell.components }}</li>
                        <li><strong>Duration:</strong> {{ spell.duration }}</li>
                    </ul>
                </div>
            {% endfor %}
        {% endfor %}
    </div>

    <div id="spellbook-controls">
        <button id="prev-spell">Previous</button>
        <button id="next-spell">Next</button>
    </div>

    <script src="{{ url_for('static', filename='js/audio.js') }}"></script>
    <script src="{{ url_for('static', filename='js/spellbook.js') }}"></script>


</body>
</html>